<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <nav class="navigation">
        <ul>
            <li class="li-home"><a href="home.html" data-th-href="@{/}">Home</a></li>
            <li><a href="register.html" data-th-href="@{/register}">Register</a></li>
            <li><a href="./login.html" data-th-href="@{/login}">Login</a></li>
        </ul>
    </nav>
    <div class="section">
        <h1 class="title"> Hello word </h1>
        <h3 class="subtitle">Welcome to this amazing website</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ipsa iusto molestiae molestias qui recusandae reiciendis, voluptate. Aperiam architecto cum dolor neque pariatur qui quisquam recusandae, repudiandae, saepe similique, ut?</p>
    </div>
    <div class="section">
        <h3 class="subtitle">Welcome to this amazing website</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ipsa iusto molestiae molestias qui recusandae reiciendis, voluptate. Aperiam architecto cum dolor neque pariatur qui quisquam recusandae, repudiandae, saepe similique, ut?</p>
    </div>
    <div class="cards">
        <div class="card">
            <h4 class="card-title">Card title</h4>
            <p class="card-desc">Card desccription Card desccription Card desccription Card desccription Card desccription Card desccription Card desccription</p>
        </div>
        <div class="card">
            <h4 class="card-title">Card title</h4>
            <p class="card-desc">Card desccription Card desccription Card desccription Card desccription Card desccription Card desccription Card desccription</p>
        </div>
        <div class="card">
            <h4 class="card-title">Card title</h4>
            <p class="card-desc">Card desccription Card desccription Card desccription Card desccription Card desccription Card desccription Card desccription</p>
        </div>
    </div>

</div>


</body>
</html>