
<div class="navigation" th:fragment="site-header">
<nav class="nav container">
    <h3 class="logo"><a href="home.html" data-th-href="@{/}">BlogSpring</a></h3>
    <ul class="menu">
        <li><a href="">Pocket Fund stategy</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Meet the Team</a></li>
        <li><a href="register.html" data-th-href="@{/register}">Register</a></li>
        <li><a href="./login.html" data-th-href="@{/login}">Login</a></li>
        <li><a href="">Contact us</a></li>
    </ul>
</nav>
</div>