<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<div th:replace="navigation::site-header"></div>
<div class="container">
<div class="container-sm">
  <h2 class="title">
      Welcome <span data-th-text="${userInfos.firstName}"></span>
  </h2>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Fist Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${userInfos.id}"></td>
            <td th:text="${userInfos.email}"></td>
            <td th:text="${userInfos.firstName}"></td>
            <td th:text="${userInfos.lastName}"></td>
        </tr>
        </tbody>
    </table>

        <a th:href="@{'/profile/delete/'+${userInfos.id}}"><button type="button" class="btn">Delete my account</button></a>
    <a th:href="@{/profile/edit/{id}(id=${userInfos.id})}"><button type="button" class="btn">Update my infos</button></a>


</div>
</div>
<footer th:replace="footer::footer">
</footer>

</body>
</html>